mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.mat-card-image{
    height: 250px;
    padding:15px;
}

.list-style-none{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

h4{
 color: #551A8B;
 font-weight: 800;
}

.details{
    font-weight: 600;
    font-size: 18px;
    color: #4cbb17;
    padding-left: 10px;
}

li b{
    font-size: 20px;
}